{% extends 'main_app.html' %}

{% block title %} {{ foot_form.name }} {% endblock %}

{% block content %}
<div class="container">
   <div class="product_img_desc_container">
      <div class="product_image_container" style="margin-top: 100px;">
        <img src="{{ foot_form.img_url }}" class="img-thumbnail"  alt="product photo" style="width: 600px; height: 600px;">
      </div>
      <div class="product_desc">
            <h4 class="product_name">{{ foot_form.name | linebreaks}}</h4>
            <p>{{ foot_form.description | linebreaks}}</p>
            <h3 class="product_price">{{ foot_form.price }} руб.</h3>
            <a href="{% url 'cart:cart_add' foot_form.id %}" class="btn btn-primary" style="margin-top: 35px;" onclick="alert('Товар добавлен в корзину');">В корзину</a>
      </div>
    </div>
</div>
{% endblock %}